/* All CSS below until media query is mobile first */

/* * {
    border: 1px solid orange;
} */

/* html {
    height: 100%;
    background: repeating-linear-gradient(
        135deg,
        #e8e8ea,
        #e8e8ea .1em,
        white 0,
        white .5em
    );
} */

header {
    /* background-color: #E55000; */
    position: fixed;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    z-index: 2;
    background-image: linear-gradient(to right, #1DD3B0, #F3F9D2);
    border-bottom: 2px solid #1D1A31;
}

header > h1 {
    font-family: 'Permanent Marker', cursive;
    font-size: 2.5em;
    margin: 15px 0 15px 0;
    color: #63264A;

}

header > h1 > span {
    font-size: 25px;
}

body {
    margin: 0;
}

button {
    cursor: pointer;
}

.search {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.tooltip-text {
    position: absolute;
    visibility: hidden;
    z-index: 10;
    background-color: black;
    color: white;
    opacity: 0;
    transition: opacity .3s;
}

form {
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.searchbar {
    border: none;
    width: 150px;
    height: 25px;
    padding-left: 10px;
}

.submit-button {
    cursor: pointer;
    border: none;
    background-color: #FF5A14;
    color: #F3F9D2;
}

.random-button {
    cursor: pointer;
    padding: 0 15px;
    margin: 0 10px;
    background-color: #63264A;
    color: #F3F9D2;
    border: none;
    position: relative;
}

#fav-button {
    color: #FF5A14;
    cursor: pointer;
    width: 70px;
    border: none;
    background-color: #1DD3B0;
}

#fav-button > span {
    color: #1D1A31;
    display: inline;
    cursor: pointer;
}

/* tooltips on hover */
form:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}

.random-button:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}

#fav-button:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}

.main-container {
    display: flex;
    flex-direction: column;
    /* keeps main content from being blocked by sticky header */
    padding-top: 110px;
    background-color: #1D1A31;
    height: 100%;
}

.gif-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 15px auto;
    /* container width and height for mobile */
    width: 350px;
    background-color: white;
    border-radius: 10px;
    /* may need this for modal priority */
    z-index: 1;
    border: 3px solid #B7F0AD;
    position: relative;
    text-align: center;
}

.gif-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    font-family: 'Source Sans Pro';
    font-size: .75em;
    background-image: linear-gradient(#B7F0AD, white);
}

.gif-title {
    padding: 5px 10px 5px 10px;
    display: inline;
}

.star {
    color: #FF5A14;
    display: inline;
    cursor: pointer;
    padding: 0 .5em 0 0;
    font-size: 1.5em;
    cursor: pointer;
}

.gif-image {
    display: block;
    margin: 0 auto;
    /* Gifs are set to original sizing, so largest possible size, for all devices. This allows the image to be scaled down to fit the container for mobile */
    max-width: 100%;
    max-height: 175px;
    cursor: pointer;
}

.gif-image:hover {
    opacity: .5;
}

.copy-text {
    position: absolute;
    top: 50%;
    bottom: 50%;
    margin: auto 35%;
    font-family: 'Source Sans Pro';
}

/* Modal overlay, used to cover up elements with transparent color */
#overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(35, 30, 90, 0.6);
    z-index: 10;
}

/* Actual modal content, sits on top of overlay */
#modal {
    display: none;
    width: 80%;
    height: 90%;
    position: fixed;
    top: 20px;
    left: 10%;
    z-index: 11;
    background-color: white;
    overflow: auto;
    border-radius: 10px;
}

#modal-header {
    background-image: linear-gradient(to right, #1DD3B0, #F3F9D2);
    border-bottom: 2px solid #1D1A31;
}

#modal-header > h1 {
    font-family: 'Permanent Marker', cursive;
    font-size: 2.5em;
    color: #63264A;
    margin: 0;
    text-align: center;
}

#modal-footer {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 40px;
    border-top: 2px solid #1D1A31;
}

#close-modal, #clear-modal {
    width: 50%;
    border: none;
    text-decoration: none;
    font-family: 'Source Sans Pro';
    color: #F3F9D2;
}

#close-modal {
    background-color: #1DD3B0;
}

#clear-modal {
    background-color: #FF5A14;
}

.modal-img {
    margin: 50px auto;
}

/* min-width 600px */
@media (min-width: 600px) {
    #modal {
        width: 400px;
        left: 20%;
    }

    .search {
        height: 25px;
        margin: auto 0;
    }

    .random-button, #fav-button {
        height: 27px;
    }

    .main-container {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        padding-top: 83px;
    }

    .gif-container {
        width: 300px;
        margin: 10px;
    }

    .gif-image {
        max-width: 100%;
        max-height: 150px;
    }
}


/* min-width 700px */
@media (min-width: 700px) {
    #modal {
        left: 25%;
    }

    .main-container {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .gif-container {
        width: 300px;
        margin: 10px;
    }

    .gif-image {
        max-width: 100%;
        max-height: 150px;
    }
}

/* min-width 1000px */
@media (min-width: 1000px) {
    #modal {
        width: 600px;
    }

    .search {
        height: 40px;
    }

    .searchbar {
        width: 275px;
        height: 40px;
        padding-bottom: 0;
    }

    .submit-button, .random-button, #fav-button {
        width: 100px;
        font-size: .75em;
    }

    .random-button, #fav-button {
        height: 40px;
    }

    .main-container {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .gif-container {
        width: 400px;
    }

    .gif-image {
        max-height: 200px;
    }
}

/* min-width 1600px */
@media (min-width: 1600px) {
    #modal {
        left: 33%;
    }

    .main-container {
        justify-content: center;
        margin: auto;
        width: 75%;
        padding-top: 83px;
    }
    .gif-container {
        margin: 20px;
    }
}

/* min-width 1900px */
@media (min-width: 1900px) {
    #modal {
        left: 33%;
    }

    .main-container {
        justify-content: center;
        margin: auto;
        width: 72%;
        padding-top: 83px;
    }
    .gif-container {
        margin: 20px;
    }
}
