/* All CSS below until media query is mobile first */

/* * {
    border: 1px solid orange;
} */

header {
    background-color: white;
    position: fixed;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    z-index: 2;
}

header > h1 {

}

body {
    margin: 0;
    background-color: lightgray;
}

.search {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: white;
}

form {
    display: flex;
    flex-wrap: wrap;
}

.submit-button {
    cursor: pointer;
}

.random-button {
    cursor: pointer;
}

#fav-button {
    color: orange;
    cursor: pointer;
}

.main-container {
    display: flex;
    flex-direction: column;
    /* keeps main content from being blocked by sticky header */
    padding-top: 125px;
}

.gif-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 15px auto;
    /* container width and height for mobile */
    width: 350px;
    background-color: white;
    border-radius: 10px;
    /* may need this for modal priority */
    z-index: 1;
}

.gif-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.gif-title {
    padding: 5px 10px 5px 10px;
    display: inline;
}

.star {
    color: orange;
    display: inline;
    cursor: pointer;
}

.gif-image {
    display: block;
    margin: 0 auto;
    /* Gifs are set to original sizing, so largest possible size, for all devices. This allows the image to be scaled down to fit the container for mobile */
    max-width: 100%;
    max-height: 175px;
}

/* Modal overlay, used to cover up elements with transparent color */
#overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10;
}

/* Actual modal content, sits on top of overlay */
#modal {
    display: none;
    width: 80%;
    height: 500px;
    position: fixed;
    top: 25%;
    left: 10%;
    z-index: 11;
    background-color: white;
    overflow: auto;
    border-radius: 10px;
}

.modal-gif-container {

}

/* min-width 700px */
@media (min-width: 700px) {
    .main-container {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .gif-container {
        width: 300px;
        margin: 10px;
    }

    .gif-image {
        max-width: 100%;
        max-height: 150px;
    }
}

/* min-width 1000px */
@media (min-width: 1000px) {
    .main-container {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .gif-container {
        width: 400px;
    }

    .gif-image {
        max-height: 200px;
    }
}

/* min-width 1600px */
@media (min-width: 1600px) {
    .main-container {
        justify-content: center;
        margin: auto;
        width: 66%;
        padding-top: 117px;
        background-color: darkgray;
    }
    .gif-container {
        margin: 20px;
    }
}

/* min-width 1900px */
@media (min-width: 1900px) {
    .main-container {
        justify-content: center;
        margin: auto;
        width: 72%;
        padding-top: 117px;
        background-color: darkgray;
    }
    .gif-container {
        margin: 20px;
    }
}
