/* * {
    border: 1px solid orange;
} */

header {
    background-color: white;
}

header > h1 {

}

body {
    margin: 0;
    background-color: lightgray;
}

.search {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: white;
}

form {
    display: flex;
    flex-wrap: wrap;
}

input {

}

.random-button {

}

.main-container {

}

.gif-container {
    margin: 15px auto;
    width: 88%;
    background-color: white;
    border-radius: 10px;
}

.gif-image {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    max-height: 100%;
}

.gif-title {
    padding: 5px 10px 5px 10px;
    display: inline;
}

.star {
    color: orange;
    display: inline;
}
