body {
    margin: 0;
}

.sidebar {
    background-color: #EBECED;
}

header {
    margin: auto;
    text-align: center;
}

nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

nav > p {
    font-size: 1.25em;
}

.social-media > a > i {
    padding-right: .35em;
}

.social-media {
    padding-bottom: .75em;
}

.logo {
    font-size: 3.25em;
    margin: 0;
    padding-top: .5em;
}

p {
    font-family: 'Dosis', sans-serif;
}

i {
    color: black;
}

h3, .logo {
    font-family: 'Arsenal', sans-serif;
}

.project-container {
    max-width: 300px;
    height: 300px;
    margin: 20px auto;
    border-bottom: 1px solid #EBECED;
    border-bottom-left-radius: 5px;
}

img {
    width: 300px;
}

.project-description > p {
    margin: 0;
    background-color: white;
}

.project-heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
}

.project-heading > h3 {
    margin: 0;
}

.git {
    padding: 5px;
}

.hide {
    display: none;
}

@media (min-width: 768px) {
    .logo {
        padding-top: .25em;
    }

    nav {
        justify-content: center;
    }

    nav > p {
        padding-right: 1.25em;
    }

    .projects {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .hide {
        display: none;
    }
}

@media (min-width: 1400px) {
    html, body {
        height: 100%;
    }

    header {
        margin: auto;
        margin-top: 1em;
        text-align: left;
    }

    nav {
        display: block;
    }

    nav > p {
        padding-top: .75em;
        font-size: 1.25em;
        cursor: pointer;
    }

    .logo {
        font-size: 3em;
    }

    .social-media > a > i {
        padding-right: .5em;
    }

    .social-media {
        padding-top: .75em;
    }

    .wrapper {
        display: grid;
        grid-gap: 20px;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(2, [row] auto);
        height: 100%;
    }

    .sidebar {
        grid-row: row / span 2;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: #EBECED;
    }

    .projects {
        grid-column: span 4;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding-top: 4em;
    }

    .project-container {
        max-width: 300px;
        height: 300px;
        margin: 20px;
        border-bottom: 1px solid #EBECED;
        border-bottom-left-radius: 5px;
    }

    .hide {
        display: none;
    }

    footer {
        font-family: 'Dosis', sans-serif;
    }

}
